* {
  font-family: 'Armata', sans-serif;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  font-size: 14px !important;
}

td {
  font-size: 12px !important;
}

td .mat-raised-button {
  font-size: 12px !important;
}

.marginContent {
  margin: 1%;
}

.width-100 {
  width: 100%;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 50px !important;
}

.mat-list-base {
  padding-top: 4px !important;
}

.example-container>* {
  width: 70%;
}

table {
  width: 100%;
}

.color-white {
  color: #ffffff;
}

.pt-15 {
  padding-top: 15px;
}

.cursorPointer {
  cursor: pointer;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-button-row {
  text-align: right;
}

.example-sidenav-content {
  height: 100%;
  align-items: left;
  justify-content: left;
}

.example-sidenav {
  padding-right: 15%;
}

.mat-chip {
  font-size: 12px !important;
}

.mat-list-base {
  padding-top: 0px !important;
}

.mat-list-base .mat-list-item {
  height: 45px !important;
}

.mat-sort-header-container {
  font-weight: bold;
  font-size: 13px;
}

.w-100 {
  width: 100% !important;
}

.w-80 {
  width: 80% !important;
}

.w-50 {
  width: 50% !important;
}

.w-30 {
  width: 30% !important;
}

.w-20 {
  width: 20% !important;
}

.authBackground {
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 22%, rgba(0,250,255,1) 99%, rgba(1,199,246,1) 100%);
}
