<div class="marginContent">
  <mat-card>
    <form fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100" fxFlex.gt-sm="100"
      [formGroup]="languageForm" (ngSubmit)="onLanguageFormSubmit(languageForm.value)">
      <mat-card-header>
        <mat-card-title>
          <h2>CREATE NEW LANGUAGE</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-form-field fxFlex>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name" autocomplete="off">
        <mat-error *ngIf="languageForm.controls.name.errors?.required">Name is required</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="status">PUBLISH</mat-checkbox>

      <mat-card-actions>
        <button mat-raised-button color="primary">CREATE</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
